<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Desafio Binahki</title>

    <link rel="stylesheet" type="text/css" href="./listar.css" />

</head>

<!--<div id="wave"> </div>-->
    <div id="divonda01">
<img id="imgonda01"  src="./pag_2_onda.png" alt="Minha Figura" />

</div>



   <!-- <u><h2>Dados inseridos:</h2></u>-->

    {{#each pagamentos}}
    ID: {{id}}<br>
    Nome: {{nome}}<br>
    Valor: {{valor}}<br>
    Cadastrado: {{#formatDate createdAt}}{{/formatDate}}<br>
     Empresa: {{empresa}}<br>
      Questão: </h2>{{questao}}<br>
       Outra: </h2>{{w3review}}<br>
    <hr>
    {{/each}}




<div id="divbaixarprinc">
    <div>
        <img id="img01" width="300px" height="300px" src="./livrotirarfundo-removebg-preview.png" alt="Minha Figura" />
    </div>

    <div id="divbaixar">

        <div>

            <u><h3>E-book:</h3></u>
            <p>Agradecemos por adiquirir nosso E-book. Clique no botão abaixo para iniciar o Download.
            </p>

            <a href="https://drive.google.com/file/d/1WPxZqdSVOWMAHKgDrn5aboVpVQ0w2VNE/view?usp=sharing"
                target="_blank"><button id="btnbaixar">BAIXAR</button></a>
        </div>

    </div>

</div>


<div id="divagrad">
    <h3>Agradecemos a confiança!</h3>
    <p>Para outros cálculos Real-Time como este, veja mais informações sobre nossos produtos na página online da <a
            href="https://binahki.com.br/">Binaki</a>.
    </p>
</div>


    <div id="divonda02">
<img id="imgonda02"  src="./pag2_onda_baixo.png" alt="Minha Figura" />

</div>
<!--<div id="wave"> </div>-->